<h1>Acesso</h1>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="email">E-mail</label>
            <input type="text" name="email" placeholder="Digite seu E-mail" class="form-control form-control-lg" size="32">

            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Digite sua Senha" class="form-control form-control-lg" size="32">

            <button type="submit" class="btn btn-primary mt-4">Entrar</button>
        </form>
    </div>
</div>